:root {
    --primary: "";
}

@font-face {
    font-family: "DB Heavent";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local("DB Heavent"), url(../fonts/DBHeavent.woff2) format("woff2"),
        url(../fonts/DBHeavent.woff) format("woff"),
        url(../fonts/DBHeavent.ttf) format("truetype");
}
@font-face {
    font-family: "DB Heavent";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("DB Heavent"), url(../fonts/DBHeavent-Med.woff2) format("woff2"),
        url(../fonts/DBHeavent-Med.woff) format("woff"),
        url(../fonts/DBHeavent-Med.ttf) format("truetype");
}
@font-face {
    font-family: "DB Heavent";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local("DB Heavent"), url(../fonts/DBHeavent-Bold.woff2) format("woff2"),
        url(../fonts/DBHeavent-Bold.woff) format("woff"),
        url(../fonts/DBHeavent-Bold.ttf) format("truetype");
}

html {
    height: -webkit-fill-available;
}

body {
    color: #232729;
    overflow-x: hidden;
    font-family: "DB Heavent", sans-serif;
    font-weight: normal;
    line-height: normal;
}

a,
button {
    font-weight: 500;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.col-form-label.required:after {
    content: "*";
    color: red;
    font-size: 1.75rem;
    margin: 0 2px;
}

fieldset {
    border: 1px solid #d1cfcf;
    padding: 12px;
    min-width: inherit;
    height: 100%;
    margin: inherit;
    border-radius: 6px;
}

html:not([dir="rtl"]) legend {
    float: inherit;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: auto;
}

.btn,
.btn:hover {
    /* color: rgba(255, 255, 255, 0.8); */
}

p {
    margin: 0;
    padding: 0;
}

form {
    height: 100%;
}

section.content {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 4rem;
}

fieldset.scroll {
    overflow-y: scroll;
    max-height: calc(90vh - 150px);
}

fieldset.scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(214, 222, 225, 0.8);
}

fieldset.scroll::-webkit-scrollbar {
    width: 20px;
}

fieldset.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

fieldset.scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

fieldset.scroll::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background-color: #a8bbbf;
}

.linear-progress-content {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 4px;
    background-color: #b3e5fc;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    bottom: 0;
}

.linear-progress-content.active {
    opacity: 1;
}

.linear-progress {
    position: relative;
    width: 100%;
    height: 100%;
}

.linear-progress:before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #03a9f4;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.linear-progress:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #4fc3f7;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

/* .btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    pointer-events: initial;
} */

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.sidebar-fixed.sidebar-narrow-unfoldable,
.sidebar-fixed.sidebar-narrow {
    z-index: 1031;
    width: var(--cui-sidebar-narrow-width) !important;
}

hr.custom {
    margin: 0;
    color: initial;
    border: 0;
    border-top: initial;
}

.rounded {
    border-radius: 0.375rem;
}

.icon-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100px;
    background-color: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
